@import './vars';

.footer {
    margin: 0;
    padding: 60px 0 60px;
    text-align: center;

    &__inner {
        margin-left: auto;
        padding: 0 0 60px;
        max-width: 700px;
        display: flex;
        text-align: center;
    }

    &__text {
        font-family: $main-font;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        color: #333333;
    }

    &__div {
        margin-top: 36px;
        margin-bottom: 36px;
        border: 1px solid #B1B1B1;
    }

    &__only {
        display: none;
    }

    &__menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
        text-align: center;
    }

    &__item:hover {
        path {
            fill: #E97522;
        }
    }

    &__item+&__item {
        margin-left: 24px;
    }
}