@import "./vars";

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1140px;
}

.video {
    margin: 0;
    padding: 60px 0 51px;
    text-align: center;

    &__title {
        margin: 0 0 80px;
        padding: 0;
        font-family: $main-font;
        font-weight: 600;
        font-size: 36px;
        line-height: 120%;
        color: #333333;

    }
}